.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color:rgba(19, 17, 17, 0.89);
}

.logo{
    width:300px;
    height:20vh;
    position: absolute;
    bottom:350px;
}

.btn{
    background-color: rgba(255,0,0,0.781) !important;
    color: rgb(255,255,255)!important;
    font-size: 1rem !important;
    box-shadow: 1px 1px 2px grey !important;
    outline: none !important;
    border:none !important;
    transition: transform .2s ease;
    position:relative;
    bottom:-70px;
    height:4vh
}

.btn{
    transform: scale(1.04);
}