.container{
    height:fit-content;
    margin: 10px 0 10px 280px;
    position: absolute;
    top:60px;
    background-color:rgb(36, 35, 35);
}

.topList{
   color:white;
   display: flex;
   align-items: center;
   gap:10px;
   margin: 10px 0 20px 0;
}

.topList >p{
    border: .5px solid rgb(128,128,128);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    background: rgb(53, 51, 51);
}

.topList>p:hover {
    background: rgba(255,255,255,0.884);
    color:black;
}

.grid{
    gap:25px !important;
    margin-top: 30px;
}

.all{
    background: honeydew !important;
    color: black;
}

.all:hover{
    background: grey !important;
}